.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 31px;
}

.title {
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 39px;
}