.main {
  display: flex;
  flex-direction: column;
}

.back {
  margin: 0 auto 47px;
  padding-left: 40px;

  background-image: url(../../shared/images/arrow-narrow.svg);
  background-repeat: no-repeat;
  background-position: left center;

  color: #5F5F5F;
  font-size: 24px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  gap: 24px;
}