.checkbox {
  position: relative;

  display: inline-flex;
  align-items: center;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.slider {
  position: relative;

  display: block;
  width: 28px;
  height: 16px;
  border-radius: 40px;

  background-color: #E0E0E0;
}

.slider:after {
  content: '';

  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);

  height: 12px;
  width: 12px;

  border-radius: 50%;
  background-color: #ffffff;
}

.text {
  margin-left: 16px;
  color: #000000;
  font-weight: 500;
}

.input:checked + .slider {
  background-color: #12d28d;
}

.input:checked + .slider:after {
  background-color: #ffffff;
  transform: translate(100%, -50%);
}
